<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>test_case_test.rb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../../../css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../../css/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../../css/github.css" type="text/css" media="screen" />
<script src="../../../../js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../../js/jquery-effect.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../../js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../../js/highlight.pack.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>     
    <div class="banner">
        
        <h1>
            test_case_test.rb
        </h1>
        <ul class="files">
            
            <li>
                actionview/test/template/test_case_test.rb
                
                    <a href="https://github.com/rails/rails/blob/8764ef95dce3cbd0a58186e3cc1da90cc07862eb/actionview/test/template/test_case_test.rb" target="_blank" class="github_url">on GitHub</a>
                
            </li>
            <li>Last modified: 2016-05-19 14:28:33 +0200</li>
        </ul>
    </div>

    <div id="bodyContent">
        <div id="content">
  


  
    <!-- File only: requires -->
    <div class="sectiontitle">Required Files</div>
    <ul>
      
        <li>abstract_unit</li>
      
        <li>rails/engine</li>
      
    </ul>
  


  
  


  
    <!-- Namespace -->
    <div class="sectiontitle">Namespace</div>
    <ul>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionController.html">ActionController</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionDispatch.html">ActionDispatch</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionDispatch/Routing.html">ActionDispatch::Routing</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionView.html">ActionView</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionView/AHelperWithInitialize.html">ActionView::AHelperWithInitialize</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionView/ASharedTestHelper.html">ActionView::ASharedTestHelper</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionView/ATestHelper.html">ActionView::ATestHelper</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionView/AnotherTestHelper.html">ActionView::AnotherTestHelper</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionView/ControllerHelperMethod/SomeHelper.html">ActionView::ControllerHelperMethod::SomeHelper</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionView/HelperInclusionTest/RenderHelper.html">ActionView::HelperInclusionTest::RenderHelper</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionView/IgnoreProtectAgainstForgeryTest/HelperThatInvokesProtectAgainstForgery.html">ActionView::IgnoreProtectAgainstForgeryTest::HelperThatInvokesProtectAgainstForgery</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActionView/TestCase/SharedTests.html">ActionView::TestCase::SharedTests</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/ActiveSupport.html">ActiveSupport</a>
        </li>
      
        <li>
          <span class="type">MODULE</span>
          <a href="../../../../classes/Rails.html">Rails</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/AHelperWithInitializeTest.html">ActionView::AHelperWithInitializeTest</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/ATestHelperTest.html">ActionView::ATestHelperTest</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/AssertionsTest.html">ActionView::AssertionsTest</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/ClassMethodsTest.html">ActionView::ClassMethodsTest</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/ControllerHelperMethod.html">ActionView::ControllerHelperMethod</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/GeneralViewTest.html">ActionView::GeneralViewTest</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/HelperExposureTest.html">ActionView::HelperExposureTest</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/HelperInclusionTest.html">ActionView::HelperInclusionTest</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/IgnoreProtectAgainstForgeryTest.html">ActionView::IgnoreProtectAgainstForgeryTest</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/RenderTemplateTest.html">ActionView::RenderTemplateTest</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/TestCase.html">ActionView::TestCase</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActionView/ViewAssignsTest.html">ActionView::ViewAssignsTest</a>
        </li>
      
        <li>
          <span class="type">CLASS</span>
          <a href="../../../../classes/ActiveSupport/TestCase.html">ActiveSupport::TestCase</a>
        </li>
      
    </ul>
  


  

  



  

    

    

    


    


    <!-- Methods -->
              </div>

    </div>
  </body>
</html>